<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Blur App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Face Blur App</h1>
    </header>
    <div class="container">
        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            <label for="file">Choose an image file:</label><br>
            <input type="file" id="file" name="file" accept=".jpg, .jpeg, .png"><br><br>
            <input type="submit" value="Upload">
        </form>
    </div>
    <footer>
        <p>Face Blur App</p>
    </footer>
</body>
</html>
